.main {
  height: 100vh;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 1.25rem 2.5rem;
  border-radius: 1rem;
  border: .15rem solid black;
  background-color: lightpink;
  font-size: 2rem;
  font-weight: 500;
  transition: background-color .3s;
  cursor: pointer;
}

.button:hover {
  background-color: lightblue;
}