* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', 'Onest', sans-serif;
}

body {
  color: var(--theme-primary-text);
}

ol,
ul {
  list-style: none;
}

a {
  color: var(--theme-primary-text);
  text-decoration: none;
}

:root {
  --nav-height: 35px;
  --header-height: 85px;
}

[data-theme="light"] {
  --theme-primary-background: hsl(246, 33%, 94%);
  --theme-secondary-background: hsl(246, 100%, 84%);
  --theme-tertiary-background: hsl(246, 33%, 74%);
  --theme-primary-text: rgb(45, 45, 45);
  --theme-primary-text-hover: gray;
  --theme-primary-border: rgb(45, 45, 45);
  --theme-background-hover: hsl(247, 30%, 70%);
  --theme-primary-list: hsl(0, 0%, 70%);
  --theme-secondary-list: hsl(0, 0%, 75%);
  --theme-tertiary-list: hsl(0, 0%, 80%);
  --theme-globe: blue;
}

[data-theme="dark"] {
  --theme-primary-background: hsl(250, 49%, 10%);
  --theme-secondary-background: hsl(250, 72%, 20%);
  --theme-tertiary-background: hsl(250, 49%, 30%);
  --theme-primary-text: rgb(210, 210, 210);
  --theme-primary-text-hover: gray;
  --theme-primary-border: rgb(210, 210, 210);
  --theme-background-hover: hsl(250, 38%, 43%);
  --theme-primary-list: hsl(0, 0%, 20%);
  --theme-secondary-list: hsl(0, 0%, 15%);
  --theme-tertiary-list: hsl(0, 0%, 10%);
  --theme-globe: green;
}