.criteria {
  margin-bottom: 1.25rem;
}

.criteriaText {
  margin-top: .5rem;
  color: gray;

  @media (max-width: 40.625rem) {
    font-size: .875rem;
  }
}

.valIcon {
  margin: 0 .3125rem
}

.valid {
  color: green;
}

.invalid {
  color: red;
}