.main {
  padding: 2rem 10rem;
  min-height: calc(100vh - var(--nav-height) - var(--header-height));
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  background-color: aqua;
  display: flex;
  background-color: var(--theme-secondary-background);
}

.content {
  width: 100%;
  padding: 0 2rem;
  position: relative;
}

.header {
  height: 6.25rem;
  padding: 0 1rem;
  font-size: 2.5rem;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}

.infoContainer {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartItems {
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartItem {
  display: flex;
}

.imgContainer {
  padding: 1rem;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 10%;
  border: .1rem solid orangered;
  background-color: white;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dataContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content:space-between
}

.productName {
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPrice {
  width: 4rem;
  text-align: end;
}

.quantity {
  text-align: end;
  width: 2rem;
}

.totalAmount {
  text-align: end;
  width: 4rem;
}

.deleteBtn {
  cursor: pointer;
}

.deleteBtn:hover {
  color: var(--link-text-hover);
}

.emptyMessage {
  color: red;
}

.purchase {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.purchaseAmount {
  margin-right: 2rem;
}

.purchaseAmount>span {
  margin-left: 1rem;
  color: green;
}

.stores {
  padding: 2rem 0;
}

.storeAddresses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.storeAddress {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.storeLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.image {
  width: 3rem;
  padding: .31rem;
  background-color: white;
  border: .12rem solid gray;
  border-radius: .62rem;
  object-fit: contain;
}

.default {
  color: orangered;
}

.right {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  color: var(--link-text-hover);
}

.purchaseBtn {
  padding: .2rem 1rem;
  font-size: 1rem;
  color: var(--theme-primary-text);
  background-color: orangered;
  border-radius: 1rem;
  cursor: pointer;
}

.purchaseBtn:hover {
  background-color: rgb(209, 56, 0);
}