/* .headerWrapper {} */

.nav {
  height: var(--nav-height);
  color: var(--theme-primary-text);
  background-color: var(--theme-secondary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navLeft {} */

/* .navRight {} */

.header {
  height: var(--header-height);
  color: var(--theme-primary-text);
  background-color: var(--theme-tertiary-background);
}