.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border-style: solid;
  border-color: #d1cfdb;
  border-top-color: #219ebc;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}