.main {
  display: flex;
  justify-content: center;
}

.div {
  padding: 1rem;
  border-radius: .3rem;
  border: .1rem solid var(--theme-primary-border);
  background-color: var(--theme-tertiary-background);
}