.main {
  min-height: calc(100vh - var(--nav-height) - var(--header-height));
  background-color: var(--theme-tertiary-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.div {
  padding: 1rem;
  border-radius: .3rem;
  border: .1rem solid var(--theme-primary-border);
  background-color: var(--theme-tertiary-background);
}